<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Your Cart</title>
    <style>
         *{
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
        body{
            /* background-image: linear-gradient(to bottom right,rgb(12, 145, 127),rgb(0, 255, 179)); */
            background-image: linear-gradient(to bottom right,rgb(15, 102, 216),rgb(4, 227, 235));
        }
        .container{
            padding-top: 100px;
        }
        #cards
        {
            justify-content: center;
            padding: 5px;
        }
        .addressForm
        {
            /* height: 450px; */
            width: 350px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.425);
            border-radius: 5px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        .paymentMethod
        {
            padding: 15px 30px 10px 30px;
        }
        .inputBox
        {
            padding: 10px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
        {
            -webkit-appearance: none;
            margin: 0;
        }
        .card-body
        {
            padding: 5px;
            background-color: azure;
        }
        .dltbtn
        {
            margin-bottom: 5px;
        }
        .backbtn
        {
            margin: 5px;
        }
        .submitBtn
        {
            padding: 5px;
        }
        .submitBtnOnline
        {
            padding: 5px;
        }
        .proceedbtn
        {
            margin: 5px;
        }
        .buttons
        {
            padding: 20px;
        }
        @media only screen and (max-width: 800px) and (min-width: 768px)
        {
            .row-cols-md-4>* {
                flex: 0 0 auto;
                width: 30%;
            }
        }
    </style>
</head>

<body>

    <div>
        <%- include("partials/header", {username: username}) %>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-5" id="cards">

            <% if(cartItems.length === 0){ %>
                <div class="container">
                    <h4>OOPS!There are no orders yet :(</h4>
                </div>
            <% } %>
            <% if(cartItems.length > 0) {%>
                <% for(let i=0; i<cartItems.length ;i++){%>
                    
                    <div class="productBox container" style="padding: 10px;">
                        <div class="card-body">
                            <div><img class="img-fluid" src= <%=cartItems[i].image %> style="padding:5px; height: 150px; width:104px; " alt="<%=cartItems[i].name %>"></img></div>
                            
                            <h5 class="card-title" style="padding:5px;"><%=cartItems[i].name%></h5>
                            <h5>Quantity:   <%=cartItems[i].cartQuantity%> </h5>
                            <h5>Price:&nbsp;$<%=cartItems[i].totalPrice%></h5>
                            <h5>Expected Delivery:&nbsp;<%=cartItems[i].deliveryDate%></h5>
                            <h5>Order Status:&nbsp;<%=cartItems[i].orderStatus%></h5>
                    
                        </div>
                    </div>
                    
                <% } %>
                
            <% } %>
        </div>
    </div> 
    <div class="buttons container-fluid d-flex justify-content-center">
        <a href="/">
            <button type="button" class="btn btn-dark backbtn">Back</button>
        </a>
        <!-- <a href="#">
            <button type="button" class="btn btn-success proceedBtn">Proceed</button>
        </a> -->
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    
</body>
</html>