<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
    <title>Seller|Home</title>
    <style>
        *{
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
        body{
            /* background-image: linear-gradient(to bottom right,rgb(12, 145, 127),rgb(0, 255, 179)); */
            background-image: linear-gradient(to bottom right,rgb(15, 102, 216),rgb(4, 227, 235));
        }
        .container{
            padding-top: 100px;
        }
        .error
        {
            text-align: center;
            border: 1px solid red;
            padding-top: 70px;
            background-color: rgba(255, 0, 0, 0.63);
        }
        .loginBox{
            height: 400px;
            width: 300px;
            padding: 10px;
            padding-top: 60px;
            background-color: rgba(255, 255, 255, 0.692);
            border-radius: 5px;
            border-style: solid;
            border-color: black;
        }
        .userName
        {
            margin: 5px;
            margin-bottom: 10px;
        }
        #divCards
        {
            justify-content: center;
            padding: 5px;
        }
        #cards
        {
            justify-content: center;
            padding: 5px;
        }
        .card-body
        {
            padding: 5px;
            background-color: azure;
        }
        .submitBtn
        {
            margin: 100px 5px 5px 5px;
        }
    </style>
</head>
<body>
    <div>
        <%- include("partials/headerSeller", {username: username}) %>
        <div class="modal fade" id="uploadcsv" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Products by uploading csv file</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                          <form method="post" action="/seller/addProductCSV" enctype="multipart/form-data">
                            <div class="csvFile">
                              <div><h4>Product Image:</h4></div>
                              <input type="file" class="form-control-file" name="csvFile" encty required>
                            </div>
                            <div class="submitBtn d-grid gap-2">
                                <input type="submit" class="btn btn-primary" value="Upload">
                            </div>
                          </form>
                        </div>
      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                    </div>
                </div>
            </div>
    </div>
    
    
    <% if(err){ %>
        <div class="error">
            <h5><%=err%></h5>
        </div>
    <% } %>
    <% if(products.length === 0){ %>
        <div class="error">
            <h5>OPPS! You've got no item to sell :(.</h5>
        </div>
    <% } %>
    
    <div class="container" id="prevData">
        <div class="row row-cols-1 row-cols-md-4 g-5" id="cards">
            <% size = parseInt(size)%>
            <% if(products.length){ %>
                
                <% for(let i=0; i<size ;i++){%>
                    <div class="productBox container" style="padding: 10px;">
                        <div class="card-body">
                            <div><img class="img-fluid" src= <%=products[i].image%> style="padding:5px; height: 150px; width:104px; " alt="<%=products[i].name %>"></img></div>
                            <h5 class="card-title" style="padding:5px;"><%=products[i].name%></h5>
                            <p style="display: none;"><%=products[i].details%></p>
                            <p style="display: none;"><%=products[i].price%></p>
                            <div class="container-fluid">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%=products[i].id %>">
                                    View Details
                                </button>

                                <a href="/seller/delete/<%=products[i].id %>">
                                    <button type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="<%= products[i].id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Update the Details:</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img class="img-fluid" id="modalImg" src= <%=products[i].image %> style="padding:5px; height: 300px; width:400px;" alt="<%=products[i].name %>"></img>
                                    
                                    <div class="modalForm">
                                        <h5>Product Name: <input type="text" id="prodName" value="<%=products[i].name %>" required></h5>
                                    </div>
                                    <div class="modalForm">
                                        <h5>Product Price: <input type="number" step="0.01" id="prodPrice" value="<%=products[i].price%>" required></h5>
                                    </div>
                                    <div class="modalForm">
                                        <h5>Product Description: <input type="text" id="prodDesc" value="<%=products[i].details%>" required></h5>
                                    </div>
                                    <div class="modalForm">
                                        <h5>Product Quantity: <input type="number" id="prodQuantity" value="<%=products[i].quantity%>" required></h5>
                                    </div>
    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="<%=products[i].id%>" data-bs-dismiss="modal" onclick="work(this)">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="container" id="containerDivCards" style="display:none;">
        <div class="row row-cols-1 row-cols-md-4 g-5" id="divCards">
    
        </div>
    </div>

    <div>
            <div class="signUplink d-grid gap-2">
                <button class="btn btn-primary" id="showMore" onclick="fetchData(this)">Show more</button>
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <script>
        let divCards = document.getElementById("divCards");
        let prevData = document.getElementById("prevData");
        let containerDivCards = document.getElementById("containerDivCards");
        let size = 0;
        let products=[];
        async function fetchData(e)
        {
            containerDivCards.style.display="block";
            const response = await fetch("/seller/loadmore",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({page:size})
            })
            .then(res=>res.json())
            .then(data=>{products=JSON.parse(data)})
            .catch(err=>{console.log(err)})
            size++;
            prevData.style.display="None";
            prevData.innerHTML="";
            for(let i=0;i<products.length;i++)
            {
                divCards.innerHTML +=` <div class="productBox container" style="padding: 10px;">
                        <div class="card-body">
                            <div><img class="img-fluid" src= ${products[i].image} style="padding:5px; height: 150px; width:104px; " alt=${products[i].name}></img></div>
                            <h5 class="card-title" style="padding:5px;">${products[i].name}</h5>
                            <p style="display: none;">${products[i].details}</p>
                            <p style="display: none;">${products[i].price}</p>
                            <div class="container-fluid">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#${products[i].id}">
                                    View Details
                                </button>
                                <a href="/seller/delete/${products[i].id}">
                                    <button type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="${products[i].id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Update the Details:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid" id="modalImg" src= ${products[i].image} style="padding:5px; height: 300px; width:400px;" alt="${products[i].name}"></img>
                                
                                <div class="modalForm">
                                    <h5>Product Name: <input type="text" id="prodName" value="${products[i].name}" required></h5>
                                </div>
                                <div class="modalForm">
                                    <h5>Product Price: <input type="number" step="0.01" id="prodPrice" value="${products[i].price}" required></h5>
                                </div>
                                <div class="modalForm">
                                    <h5>Product Description: <input type="text" id="prodDesc" value="${products[i].details}" required></h5>
                                </div>
                                <div class="modalForm">
                                    <h5>Product Quantity: <input type="number" id="prodQuantity" value="${products[i].quantity}" required></h5>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="${products[i].id}" data-bs-dismiss="modal" onclick="work(this)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>`
            }
        }

        async function work(e)
        {
            let updateID = document.getElementById(e.id);
            // console.log(updateID.parentElement.childNodes[1].childNodes[1].childNodes);//3,5,7,9
            //console.log(updateID.parentElement.childNodes[5].childNodes[1].childNodes[1].childNodes[3].childNodes[3].childNodes[1].childNodes[1].value);//1,3,5,7
            //console.log(updateID.childNodes[1].childNodes[1].childNodes[3]);
            //console.log(updateID.previousElementSibling.childNodes[1].childNodes)
            let prodName =updateID.childNodes[1].childNodes[1].childNodes[3].childNodes[3].childNodes[1].childNodes[1].value;
            let prodPrice = updateID.childNodes[1].childNodes[1].childNodes[3].childNodes[5].childNodes[1].childNodes[1].value;
            let prodDesc = updateID.childNodes[1].childNodes[1].childNodes[3].childNodes[7].childNodes[1].childNodes[1].value;
            let prodQuantity = updateID.childNodes[1].childNodes[1].childNodes[3].childNodes[9].childNodes[1].childNodes[1].value;
            updateID.childNodes[1].childNodes[1].childNodes[3].childNodes[1].alt=prodName;
            updateID.previousElementSibling.childNodes[1].childNodes[3].childNodes[0].textContent = prodName;
            updateID.previousElementSibling.childNodes[1].childNodes[7].childNodes[0].textContent = prodPrice;
            updateID.previousElementSibling.childNodes[1].childNodes[5].childNodes[0].textContent = prodDesc;
            updateID.previousElementSibling.childNodes[1].childNodes[1].children[0].alt = prodName;
            let prodDetails ={
                productID : e.id,
                productName : prodName,
                productDescription : prodDesc,
                productPrice : prodPrice,
                productQuantity : prodQuantity
            }
            const response = await fetch("/seller/updateProduct",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(prodDetails)
            })
            .then(res=>res.json())
            .then(data=>{console.log(data)})
            .catch(err=>{console.log(err)})
        }

        async function delProd(e)
        {
            console.log(e.parentElement.parentElement.parentElement);
            e.parentElement.parentElement.parentElement.remove();
            let obj = {prodID : e.value};
            const response = await fetch("/seller/delete",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(obj)
            })
            .then(res=>res.json())
            .then(data=>{console.log(data)})
            .catch(err=>{console.log(err)})
        }
    </script>
</body>
</html>